application:
  port: 8081

audio_stream:
  alsa:
    input_device:  'plughw:1,0'
    output_device: 'plughw:0,0'
  port: 8080
  path: '/stream.mp3'
  restart_on_launch: true
  restart_sleep_secs: 2
  vlc:
    pid_file: "/tmp/vlc.pid"
    average_bitrate: 128
    sample_rate: 44100
    channels: 2

needle_odometer:
  periodically_persist: true
  peristance_interval_secs: 10

jukebox:
  add_time:
    default_minutes: 10

  play_timer:
    monitor_interval_secs: 5

  relay_number:
    mech_power: 2
    scan_reject: 1

  require_audio_connection: # Power down if no one's been listening to the audio stream for <timeout_secs>
    enabled: true
    monitor_interval_secs: 1
    timeout_secs: 60

  runout_saver:         # Prevent a record that won't auto-reject (locked groove, too wide a runout, etc.)
    #                   # from playing forever by forcing a reject <delay_secs> after the PlayTimer runs out.
    enabled: true
    delay_secs: 600     # This should be slightly longer than the longest record that might get played.

  single_record_play:
    power_secs: 5       # Keep the power on this long to start a single record
    needle_secs: 180    # Increment the needle time this much, the average length of a record

  startup_status: :standby

public_server:
  update_jukebox_url_on_launch: true
  jukebox_url_cgi_settings:
    url: "http://www.seeburgremote.net/set_jukebox_url.rb"
    stream_path:     ~  # nil to inherit from audio_stream:path
    audio_port:   8080  # audio port as seen from WAN, outside of router, or nil to inherit from audio_stream:port
    control_port: 8081  # control port as seen from WAN, or nil to inherit from the appication's port.
    additional_params:
      jukebox: :seeburg

  send_status_changes: true
  status_cgi:
    url: "http://www.seeburgremote.net/set_jukebox_status.rb"
    status_param: 'status'
    additional_params:
      jukebox: :seeburg

radio_transmitter:
  fm_frequency: 95.1
  pid_file: "/tmp/radio_transmitter.pid"
  restart_sleep_secs: 2


usb_hid_relay:
  default_momentary_msecs: 350

